
#about-info {
  position: relative;

  h1 {
    font-family: "Nexa Bold";
    color: rgba(255,255,255,0.61);
    margin-bottom: 0em;
  }

  h2 {
    font-size: 1.4em;
    margin-top: 0;
    color: rgba(168, 219, 168, 0.54);
    text-shadow: -1px 1px 0 #07324C;
  }

  a {
    color: #0B486B;
    transition: color 0.5s;
  }

  a:hover {
    color: lighten(#0B486B, 10%);
    transition: color 1s;
  }

  ul {
    list-style-type: none;
  }

  #firefly-container {
    position: relative;
    height: 1px;
    svg.firefly-svg {
      position: absolute;
      left: 10%;
    }
  }

  &.center-vertically {
    position: relative;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
  }

}