@keyframes slideAway {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes slideAway {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(500%);
    transform: translateX(500%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(500%);
    transform: translateX(500%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
  }
}


@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }

  50% {
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
    -webkit-transform-origin: center;
    transform-origin: center;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }

  50% {
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
    -webkit-transform-origin: center;
    transform-origin: center;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

.slideInRight {
  animation-name: slideInRight;
  -webkit-animation-name: slideInRight;
}

.slideAway {
  animation-name: slideAway;
  -webkit-animation-name: slideAway;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  &.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  &.moon {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;

    &:hover {
      animation-play-state: running;
      -webkit-animation-play-state: running;
    }
  }

  &.cloud-1 {
    -webkit-animation-duration: 80s;
    animation-duration: 80s;
  }

  &.cloud-2 {
    -webkit-animation-duration: 90s;
    animation-duration: 90s;
  }

  &.cloud-3 {
    -webkit-animation-duration: 100s;
    animation-duration: 100s;
  }


}



