#cloud-1,
#cloud-2,
#cloud-3,
#moon,
#toad,
#pond,
#mushroom {
  position: absolute;
}

#cloud-1, #cloud-2, #cloud-3 {
  z-index: 2;
}

#cloud-1 {
  top: 3%;
}

#cloud-2 {
  top: 4%;
}

#cloud-3 {
  top: 2%;
}

#moon {
  top: 5%;
  left: 15%;
  z-index: 1;
}

#toad {
  bottom: 2%;
  left: 5%;
}

#pond {
 bottom: 0;
 z-index: -1;
 left: 10%;
}

#mushroom {
 bottom: 2%;
 right: 5%;
}