@import "../../bower_components/foundation/scss/normalize";
@import "../../bower_components/foundation/scss/foundation/components/_grid";
@import "../../bower_components/foundation/scss/foundation/components/_type";
@import "../../bower_components/fontawesome/scss/font-awesome";

@font-face {
    font-family: 'Nexa Bold';
    src: url('../fonts/Nexa Bold-webfont.eot');
    src: url('../fonts/Nexa Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nexa Bold-webfont.woff2') format('woff2'),
         url('../fonts/Nexa Bold-webfont.woff') format('woff'),
         url('../fonts/Nexa Bold-webfont.ttf') format('truetype'),
         url('../fonts/Nexa Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Nexa Light';
    src: url('../fonts/Nexa Light-webfont.eot');
    src: url('../fonts/Nexa Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nexa Light-webfont.woff2') format('woff2'),
         url('../fonts/Nexa Light-webfont.woff') format('woff'),
         url('../fonts/Nexa Light-webfont.ttf') format('truetype'),
         url('../fonts/Nexa Light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "_svg";

body {
  background: #073149;
  overflow: hidden;
  font-family: "Nexa Light";
}


@import "_about";
@import "_animations"
